html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    font-size: xx-large;
    letter-spacing: 4px;
}

.parent {
    height: 92%;
    width: 100%;
}

.column {
    float: left;
    height: 100%;
}

.left {
    width: 75%;
    height: 100%;

}

.right {
    width: 25%;
}

#map {
    height: 100%;
}

#chat {
    height: 95%;
    overflow-y: auto;
}

.incomingMessage {
    text-align: left;
    border-radius: 16px;
    border: 1px solid gray;
    padding-left: 4px;
    margin: 4px;
}

.controls {
    padding-left: 16px;
}